* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(24, 54, 153, 0.644);
  list-style-position: inside;
  margin: 0 auto;
  border-radius: 5px;
}

.container li {
  font-size: 20px;
  background-color: #ffdab9;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}
